---
- name: merge dictionaries
  block:
  - include_vars: 
      file: ../../darexsu.apache/defaults/main.yml  
      name: apache_default_vars
  
  - name: merge default and new dictionaries 
    set_fact:
      "{{ item.key }}": "{{ apache_default_vars[item.key] | combine(merge[item.key], recursive=True)}}"
    when: apache_default_vars[item.key] is defined
    with_dict: "{{ merge }}"

  - name: combine defaults vars with merge dictionary
    set_fact:
      merge: "{{ apache_default_vars | combine(merge, recursive=True)}}"
  when: merge is defined

- name: apache role is disabled
  meta: end_play
  when: not apache.enabled

- name: include apache install
  include_tasks: ./tasks/install/apache__install.yml
  when: apache_install.enabled

- name: include apache config
  include_tasks: ./tasks/config/apache__conf.yml
  when: apache_conf.enabled

- name: include apache virtualhost config
  include_tasks: ./tasks/config/apache__virtualhost.yml
  when: apache_virtualhost[item.key]['enabled']
  with_dict: "{{ apache_virtualhost }}"

- name: ensure apache is started
  ansible.builtin.service:
    name: "{{ apache_const[ansible_os_family]['service_name'] }}"
    state: "{{ apache.service.state }}"
    enabled: "{{ apache.service.enabled }}"