<VirtualHost {{ apache_virtualhost[item.key]["vars"]["ip"] | default(none) }}:{{ apache_virtualhost[item.key]["vars"]["port"] | default(none)}} >
	{% if apache_virtualhost[item.key]["vars"]["ServerName"] is defined %}
	ServerName {{ apache_virtualhost[item.key]["vars"]["ServerName"] }}
	{% endif %}
	{% if apache_virtualhost[item.key]["vars"]["ServerAdmin"] is defined %}
	ServerAdmin {{ apache_virtualhost[item.key]["vars"]["ServerAdmin"] }}
	{% endif %}
	{% if apache_virtualhost[item.key]["vars"]["DocumentRoot"] is defined %}
	DocumentRoot {{ apache_virtualhost[item.key]["vars"]["DocumentRoot"] }}
	{% endif %}
	{% if apache_virtualhost[item.key]["vars"]["ErrorLog"] is defined %}
	ErrorLog {{ apache_virtualhost[item.key]["vars"]["ErrorLog"] }}
	{% endif %}
	{% if apache_virtualhost[item.key]["vars"]["CustomLog"] is defined %}
	CustomLog {{ apache_virtualhost[item.key]["vars"]["CustomLog"] }}
	{% endif %}
	{% if apache_virtualhost[item.key]["vars"]["SSLEngine"] is defined and apache_virtualhost[item.key]["vars"]["SSLEngine"] -%}
	SSLEngine {{ apache_virtualhost[item.key]["vars"]["SSLEngine"] }}
	{% endif -%}
	{% if apache_virtualhost[item.key]["vars"]["SSLEngine"] is defined and apache_virtualhost[item.key]["vars"]["SSLEngine"] -%}
	SSLCertificateFile	{{ apache_virtualhost[item.key]["vars"]["SSLCertificateFile"] }}
	{% endif -%}
	{% if apache_virtualhost[item.key]["vars"]["SSLEngine"] is defined and apache_virtualhost[item.key]["vars"]["SSLEngine"] -%}
	SSLCertificateKeyFile {{ apache_virtualhost[item.key]["vars"]["SSLCertificateKeyFile"] }}
	{% endif -%}
</VirtualHost>